In [2]:
sc

''

In [3]:
spark

NameError: name 'spark' is not defined

In [1]:
from pyspark import types
from pyspark.sql import functions as f
from pyspark.sql import Row, DataFrame, Window

In [ ]:
sql.exc("SELECT * FROM job_db30_gg.log_gg_actvt")

# RDD Ops

In [56]:
rdd = sc.parallelize([1,2,3], numSlices=10)
rdd

ParallelCollectionRDD[157] at readRDDFromFile at PythonRDD.scala:274

In [57]:
rdd2 = rdd.map(lambda x: x + 1)
rdd2

PythonRDD[158] at RDD at PythonRDD.scala:53

In [58]:
rdd2.collect()

[2, 3, 4]

In [60]:
rdd = sc.parallelize([1,2,3], numSlices=10)
rdd.collect()

[1, 2, 3]

In [55]:
rdd = sc.parallelize([1,2,3], numSlices=10)
rdd.glom().collect()

[[], [], [], [1], [], [], [2], [], [], [3]]

In [15]:
rdd = sc.parallelize([1,2,3], numSlices=2)
rdd.glom().collect()

[[1], [2, 3]]

In [12]:
sc.parallelize([("a", 1), ("b", 2)]).glom().collect()

[[], [], [], [('a', 1)], [], [], [], [('b', 2)]]

In [21]:
import random

data = [random.randint(0, 100) for _ in range(500)]
listrdd = sc.parallelize(data, 5)
pairs = listrdd.map(lambda x: (x, x * x))
reduced = pairs.reduceByKey(lambda x, y: x + y)
finalrdd = reduced.mapPartitions(lambda x: x)

In [36]:
pairs.coalesce(1).foldByKey([], (lambda x, y: x + [y])).sortByKey().collect()

[(0, [0, 0]),
 (1, [1, 1, 1]),
 (2, [4, 4, 4, 4]),
 (3, [9, 9, 9, 9, 9, 9]),
 (4, [16, 16, 16, 16, 16]),
 (5, [25, 25, 25, 25]),
 (6, [36, 36, 36]),
 (7, [49, 49, 49, 49, 49, 49]),
 (8, [64]),
 (9, [81, 81, 81, 81]),
 (10, [100, 100, 100, 100, 100, 100]),
 (11, [121, 121, 121]),
 (12, [144, 144, 144, 144]),
 (13, [169, 169]),
 (14, [196, 196, 196, 196, 196, 196, 196, 196, 196]),
 (15, [225, 225, 225, 225, 225]),
 (16, [256, 256, 256, 256, 256, 256, 256]),
 (17, [289, 289, 289]),
 (18, [324, 324, 324, 324]),
 (19, [361, 361, 361, 361, 361, 361, 361, 361]),
 (20, [400, 400, 400, 400]),
 (22, [484, 484, 484, 484, 484]),
 (23, [529, 529, 529, 529, 529, 529, 529, 529, 529]),
 (24, [576, 576, 576, 576, 576, 576, 576]),
 (25, [625, 625, 625, 625]),
 (26, [676, 676]),
 (27, [729, 729, 729]),
 (28, [784, 784, 784]),
 (29, [841, 841, 841, 841]),
 (30, [900, 900, 900, 900, 900, 900]),
 (31, [961]),
 (32, [1024, 1024, 1024, 1024]),
 (33, [1089, 1089, 1089, 1089, 1089, 1089, 1089, 1089, 1089, 1089]),
 (34, [1156, 1156, 1156, 1156, 1156, 1156, 1156, 1156, 1156]),
 (35, [1225, 1225, 1225, 1225, 1225]),
 (36, [1296, 1296, 1296, 1296]),
 (38, [1444, 1444]),
 (39,
  [1521, 1521, 1521, 1521, 1521, 1521, 1521, 1521, 1521, 1521, 1521, 1521]),
 (40, [1600, 1600, 1600, 1600, 1600]),
 (41, [1681]),
 (42, [1764, 1764, 1764, 1764, 1764, 1764]),
 (43, [1849]),
 (44, [1936, 1936, 1936, 1936, 1936, 1936]),
 (45, [2025, 2025]),
 (46, [2116, 2116, 2116]),
 (47, [2209, 2209, 2209, 2209, 2209, 2209, 2209, 2209]),
 (48, [2304, 2304, 2304, 2304, 2304, 2304, 2304, 2304, 2304]),
 (49, [2401, 2401, 2401, 2401, 2401, 2401]),
 (50, [2500, 2500]),
 (51, [2601, 2601, 2601, 2601]),
 (52, [2704, 2704, 2704, 2704, 2704, 2704]),
 (53, [2809, 2809, 2809, 2809, 2809, 2809, 2809]),
 (54, [2916, 2916, 2916, 2916]),
 (55, [3025, 3025, 3025, 3025, 3025, 3025, 3025]),
 (56, [3136, 3136]),
 (57, [3249, 3249, 3249]),
 (58, [3364, 3364, 3364, 3364]),
 (59, [3481, 3481, 3481, 3481, 3481, 3481, 3481, 3481]),
 (60, [3600, 3600, 3600, 3600, 3600, 3600]),
 (61, [3721, 3721, 3721, 3721, 3721, 3721, 3721, 3721]),
 (62, [3844, 3844, 3844, 3844, 3844]),
 (63, [3969, 3969, 3969]),
 (64, [4096, 4096, 4096, 4096, 4096, 4096, 4096]),
 (65, [4225, 4225, 4225, 4225, 4225]),
 (66, [4356, 4356, 4356, 4356, 4356]),
 (67, [4489, 4489, 4489, 4489, 4489]),
 (68, [4624, 4624, 4624]),
 (69, [4761, 4761]),
 (70, [4900, 4900, 4900, 4900, 4900]),
 (71, [5041, 5041, 5041, 5041]),
 (72, [5184, 5184, 5184, 5184, 5184]),
 (73, [5329, 5329, 5329, 5329]),
 (74, [5476, 5476, 5476, 5476, 5476, 5476]),
 (75, [5625, 5625, 5625, 5625]),
 (76, [5776, 5776, 5776, 5776, 5776]),
 (77, [5929, 5929, 5929]),
 (78, [6084, 6084, 6084, 6084, 6084, 6084, 6084, 6084]),
 (79, [6241, 6241, 6241, 6241, 6241, 6241, 6241, 6241, 6241]),
 (80, [6400, 6400, 6400, 6400, 6400, 6400]),
 (81, [6561, 6561, 6561, 6561, 6561]),
 (82, [6724, 6724, 6724, 6724]),
 (83, [6889, 6889, 6889, 6889, 6889, 6889, 6889, 6889, 6889]),
 (84, [7056, 7056, 7056, 7056, 7056, 7056, 7056, 7056, 7056]),
 (85, [7225, 7225, 7225, 7225, 7225, 7225, 7225]),
 (86, [7396, 7396, 7396, 7396, 7396, 7396, 7396]),
 (87, [7569, 7569, 7569, 7569, 7569]),
 (88, [7744, 7744, 7744, 7744, 7744]),
 (89,
  [7921, 7921, 7921, 7921, 7921, 7921, 7921, 7921, 7921, 7921, 7921, 7921]),
 (90, [8100, 8100, 8100, 8100]),
 (91, [8281, 8281, 8281, 8281, 8281]),
 (92, [8464, 8464, 8464]),
 (93, [8649, 8649, 8649, 8649, 8649]),
 (94, [8836, 8836, 8836, 8836, 8836, 8836, 8836, 8836, 8836]),
 (95, [9025, 9025, 9025, 9025]),
 (96, [9216, 9216, 9216, 9216]),
 (97, [9409, 9409, 9409]),
 (98, [9604, 9604, 9604, 9604, 9604]),
 (99, [9801, 9801, 9801, 9801, 9801, 9801]),
 (100, [10000, 10000, 10000, 10000])]

In [37]:
finalrdd.sortByKey().collect()

[(0, 0),
 (1, 3),
 (2, 16),
 (3, 54),
 (4, 80),
 (5, 100),
 (6, 108),
 (7, 294),
 (8, 64),
 (9, 324),
 (10, 600),
 (11, 363),
 (12, 576),
 (13, 338),
 (14, 1764),
 (15, 1125),
 (16, 1792),
 (17, 867),
 (18, 1296),
 (19, 2888),
 (20, 1600),
 (22, 2420),
 (23, 4761),
 (24, 4032),
 (25, 2500),
 (26, 1352),
 (27, 2187),
 (28, 2352),
 (29, 3364),
 (30, 5400),
 (31, 961),
 (32, 4096),
 (33, 10890),
 (34, 10404),
 (35, 6125),
 (36, 5184),
 (38, 2888),
 (39, 18252),
 (40, 8000),
 (41, 1681),
 (42, 10584),
 (43, 1849),
 (44, 11616),
 (45, 4050),
 (46, 6348),
 (47, 17672),
 (48, 20736),
 (49, 14406),
 (50, 5000),
 (51, 10404),
 (52, 16224),
 (53, 19663),
 (54, 11664),
 (55, 21175),
 (56, 6272),
 (57, 9747),
 (58, 13456),
 (59, 27848),
 (60, 21600),
 (61, 29768),
 (62, 19220),
 (63, 11907),
 (64, 28672),
 (65, 21125),
 (66, 21780),
 (67, 22445),
 (68, 13872),
 (69, 9522),
 (70, 24500),
 (71, 20164),
 (72, 25920),
 (73, 21316),
 (74, 32856),
 (75, 22500),
 (76, 28880),
 (77, 17787),
 (78, 48672),
 (79, 56169),
 (80, 38400),
 (81, 32805),
 (82, 26896),
 (83, 62001),
 (84, 63504),
 (85, 50575),
 (86, 51772),
 (87, 37845),
 (88, 38720),
 (89, 95052),
 (90, 32400),
 (91, 41405),
 (92, 25392),
 (93, 43245),
 (94, 79524),
 (95, 36100),
 (96, 36864),
 (97, 28227),
 (98, 48020),
 (99, 58806),
 (100, 40000)]

In [40]:
print(finalrdd.toDebugString().decode())

(5) PythonRDD[112] at collect at /tmp/ipykernel_36/3805150854.py:1 []
 |  MapPartitionsRDD[49] at mapPartitions at PythonRDD.scala:145 []
 |  ShuffledRDD[48] at partitionBy at NativeMethodAccessorImpl.java:0 []
 +-(5) PairwiseRDD[47] at reduceByKey at /tmp/ipykernel_36/917555409.py:6 []
    |  PythonRDD[46] at reduceByKey at /tmp/ipykernel_36/917555409.py:6 []
    |  ParallelCollectionRDD[45] at readRDDFromFile at PythonRDD.scala:274 []

# SQL Ops

In [1]:
df = spark.createDataFrame([
    Row(id="user1", outcome=10),
    Row(id="user2", outcome=4),
    Row(id="user2", outcome=1),
    Row(id="user1", outcome=6),
    Row(id="user3", outcome=30),
    Row(id="user2", outcome=3),
    Row(id="user1", outcome=21),
])
df.printSchema()
df.show()

NameError: name 'spark' is not defined

In [59]:
df.groupBy("id").agg(f.collect_list("outcome")).show()

+-----+---------------------+
|   id|collect_list(outcome)|
+-----+---------------------+
|user1|          [10, 6, 21]|
|user3|                 [30]|
|user2|            [4, 1, 3]|
+-----+---------------------+

In [46]:
df.write.mode("overwrite").option("header", True).csv("s3a://default/test.csv")

# Read From S3

In [47]:
spark.read.option("header", True).csv("s3a://default/test.csv").show()

+-----+-------+
|   id|outcome|
+-----+-------+
|user1|     10|
|user3|     30|
|user1|     21|
|user2|      4|
|user2|      1|
|user1|      6|
|user2|      3|
+-----+-------+

# TEST

In [104]:
# udf

def func(value):
    return value ** 2

udf_func = f.udf(func)

df.withColumn("func_outcome", udf_func(f.col("outcome"))).show()

+-----+-------+------------+
|   id|outcome|func_outcome|
+-----+-------+------------+
|user1|     10|         100|
|user2|      4|          16|
|user2|      1|           1|
|user1|      6|          36|
|user3|     30|         900|
|user2|      3|           9|
|user1|     21|         441|
+-----+-------+------------+

In [115]:
# anti join: exclude

df.join(df.where(f.col("id") == "user1"), on="id", how="anti").show()

+-----+-------+
|   id|outcome|
+-----+-------+
|user3|     30|
|user2|      4|
|user2|      1|
|user2|      3|
+-----+-------+

In [116]:
# semi join: include

df.join(df.where(f.col("id") == "user1"), on="id", how="semi").show()

+-----+-------+
|   id|outcome|
+-----+-------+
|user1|     10|
|user1|      6|
|user1|     21|
+-----+-------+

In [106]:
# broadcast join

df.join(f.broadcast(df), on="id", how="inner").show()

+-----+-------+-------+
|   id|outcome|outcome|
+-----+-------+-------+
|user1|     10|     21|
|user1|     10|      6|
|user1|     10|     10|
|user2|      4|      3|
|user2|      4|      1|
|user2|      4|      4|
|user2|      1|      3|
|user2|      1|      1|
|user2|      1|      4|
|user1|      6|     21|
|user1|      6|      6|
|user1|      6|     10|
|user3|     30|     30|
|user2|      3|      3|
|user2|      3|      1|
|user2|      3|      4|
|user1|     21|     21|
|user1|     21|      6|
|user1|     21|     10|
+-----+-------+-------+

In [123]:
# use struct: 1

(
    df
    .select("*", f.struct("id", "outcome").alias("struct_col"))
    .where(f.col("struct_col").getField("outcome") > 15)
).show()

+-----+-------+-----------+
|   id|outcome| struct_col|
+-----+-------+-----------+
|user3|     30|{user3, 30}|
|user1|     21|{user1, 21}|
+-----+-------+-----------+

In [124]:
# use struct: 2

(
    df
    .select("*", f.struct("id", "outcome").alias("struct_col"))
    .where("struct_col.outcome < 15")
).show()

+-----+-------+-----------+
|   id|outcome| struct_col|
+-----+-------+-----------+
|user1|     10|{user1, 10}|
|user2|      4| {user2, 4}|
|user2|      1| {user2, 1}|
|user1|      6| {user1, 6}|
|user2|      3| {user2, 3}|
+-----+-------+-----------+

In [133]:
# show

df.show(n=20, truncate=True, vertical=True)

-RECORD 0--------
 id      | user1
 outcome | 10
-RECORD 1--------
 id      | user2
 outcome | 4
-RECORD 2--------
 id      | user2
 outcome | 1
-RECORD 3--------
 id      | user1
 outcome | 6
-RECORD 4--------
 id      | user3
 outcome | 30
-RECORD 5--------
 id      | user2
 outcome | 3
-RECORD 6--------
 id      | user1
 outcome | 21

In [154]:
# iterable

for row in df.toLocalIterator():
    print(row)

Row(id='user1', outcome=10)
Row(id='user2', outcome=4)
Row(id='user2', outcome=1)
Row(id='user1', outcome=6)
Row(id='user3', outcome=30)
Row(id='user2', outcome=3)
Row(id='user1', outcome=21)

In [155]:
%%timeit
# prefetch = False

for row in df.toLocalIterator(prefetchPartitions=False):
    pass

336 ms ± 23.2 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [156]:
%%timeit
# prefetch = True

for row in df.toLocalIterator(prefetchPartitions=True):
    pass

250 ms ± 18.9 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [163]:
# window_func: default

window_spec = Window.partitionBy("id")

df.withColumn("windowing", f.sum("outcome").over(window_spec)).show()

+-----+-------+---------+
|   id|outcome|windowing|
+-----+-------+---------+
|user1|     10|       37|
|user1|      6|       37|
|user1|     21|       37|
|user3|     30|       30|
|user2|      4|        8|
|user2|      1|        8|
|user2|      3|        8|
+-----+-------+---------+

In [195]:
# window_func: ordered

window_spec = Window.partitionBy("id").orderBy("outcome")

df.withColumn("windowing", f.sum("outcome").over(window_spec)).show()

+-----+-------+---------+
|   id|outcome|windowing|
+-----+-------+---------+
|user1|      6|        6|
|user1|     10|       16|
|user1|     21|       37|
|user3|     30|       30|
|user2|      1|        1|
|user2|      3|        4|
|user2|      4|        8|
+-----+-------+---------+

In [196]:
# window_func: rangeBetween (ORDER BY 표현식 기반 위치)

print(Window.unboundedFollowing)
print(Window.unboundedPreceding)
print(Window.currentRow)

window_spec = Window.partitionBy("id").orderBy("outcome").rangeBetween(Window.currentRow, Window.unboundedFollowing)

df.withColumn("windowing", f.sum("outcome").over(window_spec)).show()

9223372036854775807
-9223372036854775808
0
+-----+-------+---------+
|   id|outcome|windowing|
+-----+-------+---------+
|user1|      6|       37|
|user1|     10|       31|
|user1|     21|       21|
|user3|     30|       30|
|user2|      1|        8|
|user2|      3|        7|
|user2|      4|        4|
+-----+-------+---------+

In [194]:
# window_func: rowsBetween (파티션 내 row의 위치)

print(Window.unboundedFollowing)
print(Window.unboundedPreceding)
print(Window.currentRow)

window_spec = Window.partitionBy("id").rowsBetween(Window.currentRow, Window.unboundedFollowing)

df.withColumn("windowing", f.sum("outcome").over(window_spec)).show()

9223372036854775807
-9223372036854775808
0
+-----+-------+---------+
|   id|outcome|windowing|
+-----+-------+---------+
|user1|     10|       37|
|user1|      6|       27|
|user1|     21|       21|
|user3|     30|       30|
|user2|      4|        8|
|user2|      1|        4|
|user2|      3|        3|
+-----+-------+---------+

In [ ]:
"""
row1
row2
row3
row4
"""